{% extends  layout %}
{% block  content %}
<div>The city is ${data.temperature} degree celsius in ${data.cityName} and the description is ${data.weatherDes} </div>
<img src="${imageURL}">;
{% endblock %}