{% extends  layout %}
{% block  content %}
<div><a href="/"> Back</a></div>
<img src="{{data.imageURL}}">
<div>The weather in {{data.cityName}} is currently {{data.temperature}} degree celsius and {{data.weatherDes}} </div>

{% endblock %}