{% extends  layout %}
{% block  content %}
<div>The weather is {{data.temperature}} degree celsius in {{data.cityName}} and the description is {{data.weatherDes}} </div>
<img src="{{data.imageURL}}">
{% endblock %}